# build output
dist/
# generated types
.astro/

# dependencies
node_modules/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*


# environment variables
.env
.env.production

# macOS-specific files
.DS_Store

# jetbrains setting folder
.idea/
.snapshots
node_modules

# backups
*.bak
*.backup*
*.backup

# debug
debug_*

# tmp
tmp/

# templates
*_template.md

# snapshots
*snapshot*


# backups
*.bak
*.bak*
*.backup
*.backup*
*.stage2.bak

# templates
_template.md

# tmp
tmp/

# debug / snapshots
debug_*
*snapshot*
